{% extends 'base.html' %}
{% block body %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlSelect1">카테고리</label>
      <select class="form-control" id="exampleFormControlSelect1" name="choice">
        <option value="내 포켓몬 자랑하기">내 포켓몬 자랑하기</option>
        <option value="포켓몬을 찾아주세요">포켓몬을 찾아주세요</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">제목</label>
      <input type="text" class="form-control" placeholder="제목을 입력해주세요" name="content_title">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">이름</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="포켓몬이름을 입력해주세요" name="monster_name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">사진</label>
      <input type="file" class="form-control" id="exampleInputPassword1" placeholder="이미지를 업로드해주세요" name="monster_image" accept="image/*">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">특징</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="특징을 입력해주세요" name="monster_detail">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">키</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="키 입력해주세요" name="monster_size">
    </div>
    <input type="submit" value="등록" class="btn btn-primary"> 
  </form>
{% endblock %}