{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
  {% for monster in monsters %}
    <div class="card d-inline-block mr-3" style="width: 18rem;">
      <img src="{{monster.monster_image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{monster.choice}}</h5>
        <p class="card-text">{{monster.content_title}} <span class="btn btn-warning" style="font-weight: 600;">{{monster.like_users.count}}</span></p>
        <a href="{% url 'monster:detail' monster.id %}" class="btn btn-primary">상세보기</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}